In [78]:
import pandas as pd

In [79]:
def get_object_cols(df):
    dtypes = df.dtypes
    cols = df.columns
    obj_list = []
    for c_name, dtype in zip(cols, dtypes):
        if dtype == "object":
            obj_list.append(c_name)
    return obj_list

In [80]:
df = pd.read_csv("../../Data/movies.csv", header= 0 )

In [81]:
null_cols = []
for c_name in df.columns:
    count =  df[c_name].isnull().sum()
    if(count>0):
        null_cols.append(c_name)
        print(f"{c_name} has {count} null values.")

YEAR has 644 null values.
GENRE has 80 null values.
RATING has 1820 null values.
VOTES has 1820 null values.
RunTime has 2958 null values.
Gross has 9539 null values.

In [82]:
obj_cols = get_object_cols(df)

In [83]:
for c_name in obj_cols:
    if(c_name in null_cols):
        null_cols.remove(c_name)

In [84]:
null_cols

['RATING', 'RunTime']

In [85]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [86]:
df['YEAR'].value_counts()

YEAR
(2020– )           892
(2021– )           658
(2020)             639
(2019– )           549
(2019)             544
                  ...
(1999– )             1
(I) (2013–2016)      1
(2002–2005)          1
(2010–2015)          1
(1985– )             1
Name: count, Length: 438, dtype: int64

In [87]:
class prerpocess():
    def __init__(self , df):
        self.df = df
    
    def null_cols(self):
        null_cols = []
        for c_name in self.df.columns:
            count =  self.df[c_name].isnull().sum()
            if(count>0):
                null_cols.append(c_name)
                # print(f"{c_name} has {count} null values.")
        return null_cols


    def fill_null(self , cols = None):
        if(cols is None):
            cols = self.null_cols()
        for c_name in cols:
            if(self.df[c_name].dtype == "object"):
                self.df[c_name] = self.df[c_name].fillna(self.df[c_name].mode()[0])
            else:
                self.df[c_name] = self.df[c_name].fillna(self.df[c_name].median())

In [88]:
# fill_null('YEAR')

In [89]:
pr = prerpocess(df)
pr.fill_null()
pr.null_cols()

[]

In [90]:
for c_name in pr.df.columns:
    null_count = pr.df[c_name].isna().sum()
    if(null_count > 0):
        print(c_name)