In [37]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [38]:
rpower = pd.read_csv("../GMRINFRA.NS.csv",header = 0, index_col="Date")

In [39]:
rpower_high = rpower[['High']]
rpower_low = rpower[['Low']]

In [40]:
rpower_high['shift1'] = rpower_high['High'].shift(1)
rpower_high['shift2'] = rpower_high['High'].shift(2)
rpower_high['shift3'] = rpower_high['High'].shift(3)
rpower_high['shift4'] = rpower_high['High'].shift(4)
rpower_high['shift5'] = rpower_high['High'].shift(5)
rpower_high['shift6'] = rpower_high['High'].shift(6)
rpower_high['shift7'] = rpower_high['High'].shift(7)

In [41]:
rpower_low['shift1'] = rpower_low['Low'].shift(1)
rpower_low['shift2'] = rpower_low['Low'].shift(2)
rpower_low['shift3'] = rpower_low['Low'].shift(3)
rpower_low['shift4'] = rpower_low['Low'].shift(4)
rpower_low['shift5'] = rpower_low['Low'].shift(5)
rpower_low['shift6'] = rpower_low['Low'].shift(6)
rpower_low['shift7'] = rpower_low['Low'].shift(7)

In [42]:
rpower_high = rpower_high.dropna()
rpower_low = rpower_low.dropna()

In [43]:
# rpower_high

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
X_train , X_test , y_train , y_test = rpower_high.drop(['High'], axis=1)[:-7] , rpower_high.drop(['High'], axis=1)[-7:] , rpower_high['High'][:-7] , rpower_high['High'][-7:]

In [46]:
model  = LinearRegression()
# model.fit(rpower_high.drop(['High'], axis=1) , rpower_high['High'])

In [47]:
model_high = model.fit(rpower_high.drop(['High'], axis=1) , rpower_high['High'])
model_low = model.fit(rpower_low.drop(['Low'], axis=1) , rpower_low['Low'])

In [48]:
from sklearn.metrics import mean_absolute_percentage_error, mean_absolute_error

In [49]:
# predict = model.predict(X_test)

In [50]:
# print(mean_absolute_error(y_pred=predict  , y_true=y_test))
# print(mean_absolute_percentage_error(y_pred=predict  , y_true=y_test)*100)

In [51]:
# X_test

In [52]:
# X_test.iloc[0]

In [53]:
# predict

In [54]:
# test_df = pd.DataFrame(y_test)

In [55]:
# test_df['predict'] = predict

In [56]:
# test_df

In [57]:
from datetime import datetime,timedelta
# date = datetime.today()

In [58]:
# next_date = date+ timedelta(1)

In [59]:
# next_date.strftime('%Y-%m-%d')

In [60]:
index = (datetime.today()).strftime('%Y-%m-%d')

In [61]:
pred_high = {index : [
    rpower["High"].iloc[-1],
    rpower["High"].iloc[-2],
    rpower["High"].iloc[-3],
    rpower["High"].iloc[-4],
    rpower["High"].iloc[-5],
    rpower["High"].iloc[-6],
    rpower["High"].iloc[-7],
    ]}
pred_low = {index : [
    rpower["Low"].iloc[-1],
    rpower["Low"].iloc[-2],
    rpower["Low"].iloc[-3],
    rpower["Low"].iloc[-4],
    rpower["Low"].iloc[-5],
    rpower["Low"].iloc[-6],
    rpower["Low"].iloc[-7],
    ]}

In [62]:
# pred

In [63]:
new_df_high = pd.DataFrame.from_dict(pred_high,orient='index',columns=["shift1"	,"shift2",	"shift3",	"shift4",	"shift5",	"shift6",	"shift7"])
new_df_low = pd.DataFrame.from_dict(pred_low,orient='index',columns=["shift1"	,"shift2",	"shift3",	"shift4",	"shift5",	"shift6",	"shift7"])

In [64]:
new_df_high.index.name = "Date"
new_df_low.index.name = "Date"

In [65]:
# new_df

In [66]:
print(model_high.predict(new_df_high))
print(model_low.predict(new_df_low))

[87.63208091]
[84.1695203]

In [67]:
rpower['High'].tail()

Date
2024-02-22    88.300003
2024-02-23    89.650002
2024-02-26    89.599998
2024-02-27    88.400002
2024-02-28    87.500000
Name: High, dtype: float64

In [68]:
rpower_high.tail(10)

,High,shift1,shift2,shift3,shift4,shift5,shift6,shift7
Date,,,,,,,,
2024-02-15,91.699997,90.800003,91.150002,89.300003,90.550003,92.550003,91.300003,89.650002
2024-02-16,91.199997,91.699997,90.800003,91.150002,89.300003,90.550003,92.550003,91.300003
2024-02-19,92.849998,91.199997,91.699997,90.800003,91.150002,89.300003,90.550003,92.550003
2024-02-20,94.349998,92.849998,91.199997,91.699997,90.800003,91.150002,89.300003,90.550003
2024-02-21,90.900002,94.349998,92.849998,91.199997,91.699997,90.800003,91.150002,89.300003
2024-02-22,88.300003,90.900002,94.349998,92.849998,91.199997,91.699997,90.800003,91.150002
2024-02-23,89.650002,88.300003,90.900002,94.349998,92.849998,91.199997,91.699997,90.800003
2024-02-26,89.599998,89.650002,88.300003,90.900002,94.349998,92.849998,91.199997,91.699997
2024-02-27,88.400002,89.599998,89.650002,88.300003,90.900002,94.349998,92.849998,91.199997
2024-02-28,87.500000,88.400002,89.599998,89.650002,88.300003,90.900002,94.349998,92.849998

In [69]:
rpower.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-02-22  86.849998  88.300003  84.750000  87.650002  87.650002  29169629
2024-02-23  88.250000  89.650002  87.750000  88.349998  88.349998  25843128
2024-02-26  88.800003  89.599998  87.099998  87.650002  87.650002  39761640
2024-02-27  87.900002  88.400002  85.400002  85.750000  85.750000  75427795
2024-02-28  86.250000  87.500000  84.000000  84.400002  84.400002  47472979

In [70]:
rpower.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-02-22  86.849998  88.300003  84.750000  87.650002  87.650002  29169629
2024-02-23  88.250000  89.650002  87.750000  88.349998  88.349998  25843128
2024-02-26  88.800003  89.599998  87.099998  87.650002  87.650002  39761640
2024-02-27  87.900002  88.400002  85.400002  85.750000  85.750000  75427795
2024-02-28  86.250000  87.500000  84.000000  84.400002  84.400002  47472979

In [71]:
rpower.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-02-22  86.849998  88.300003  84.750000  87.650002  87.650002  29169629
2024-02-23  88.250000  89.650002  87.750000  88.349998  88.349998  25843128
2024-02-26  88.800003  89.599998  87.099998  87.650002  87.650002  39761640
2024-02-27  87.900002  88.400002  85.400002  85.750000  85.750000  75427795
2024-02-28  86.250000  87.500000  84.000000  84.400002  84.400002  47472979